<!-- CHANGE :: Creat the code for chat box -->
<% if (locals.user){ %>
	<div id="user-chat-box">
		<ul id="chat-messages-list">
			<li class="other-message">
				
			</li>
			<li class="self-message">
				
				
			</li>

		</ul>
		<div id="chat-message-input-container">
			<input id="chat-message-input" class="form-control" placeholder="Type message here">
			<button id="send-message" class="btn btn-sm btn-success">Send</button>
		</div>

	</div>
<% } %>
