<footer class="page-footer font-small cyan darken-3">
    <div class="container">
       <div class="row">
  
          <div class="col-md-12 ">
             <div class="flex-center pt-2">
                <a href="/">Home </a>
                <a >Profile </a>
                <b class="Copyright">© 2022 Copyright:<a href="/"> Codeial </a></b>
            </div>

             
          
          </div>
     
  
       </div>
    </div>
   
    
  
  </footer>