<footer class="page-footer font-small cyan darken-3">
   <div class="container">
      <div class="row">
 
         <div class="col-md-12 ">
            <div class="flex-center pt-2">
               <a href="/">Home </a>
               <a href="/users/profile">Profile </a>
            </div>
         </div>
    
 
      </div>
   </div>
  
   <div class="footer-copyright text-center py-1"><b>© 2022 Copyright:&nbsp;&nbsp;
     <a href="/"> Codeial </a></b>
   </div>

 
 </footer>