<div class="card">
     
    <div class="card-header">
        <h4>Posts</h4>
    </div>

    <div class="card-body">
        <section id="feed-posts">
    
            <form action="/posts/create" id="new-post-form" method="post">
                <textarea name="content" cols="30" rows="3" placeholder="Enter post" class="form-control"></textarea>
                <button type="submit" class="btn btn-md btn-success">Post</button>
            </form>
        
        </section>
    </div>

</div>