<div class="box">
    <div class="box-header">
       
         <h4>Reset Password</h4>
       
    </div>

    <div class="box-body">
        <center>
            <form method="post" action="/users/set-passwordInto-db">
                <input type="number" name="code"  class="form-control" placeholder="Enter Sent Otp" required><br>
                <input type="password" name="password"  class="form-control" placeholder="Enter Password" required><br>
                <input type="password" name="reset_password"  class="form-control" placeholder="Re Enter Password" required>
                <button type="submit" class="btn btn-sm btn-info">Save</button>
            </form>
        </center>
        
    </div>

</div>


