<link rel="stylesheet" href="/css/home_style.css">
<div class="container">
    <h3>Student List</h3>

    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Sr</th>
                <th>Name</th>
                <th>Age</th>
            </tr>
            
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Vaibhav</td>
                <td>10</td>
            </tr>


            <tr>
                <td>2</td>
                <td>Shubham</td>
                <td>12</td>
            </tr>
            
        </tbody>
    </table>
</div>
    