
<div class="container">
    <div class="row mt-3">

        <% if(locals.user) { %>
        <div class="col-12 col-sm-8 col-md-8 col-lg-8">
            <%- include('_post'); -%>
        </div>
        <% } %>
        
        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
            <div class=" friend-list">
                <h5>Friend</h5>
                <table>
                    <% for (u of user_list){ %>
                        <tr>
                            <td><a href="/users/profile/<%=u.id %>"><i class="fa-solid fa-user"></i>&nbsp;<%= u.name %></a></td> 
                        </tr>

                    <% } %>
                </table>
            </div>
        </div>

     </div>

     <div class="row mt-4">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
           <!--The set the table has a post list and individual comment list also-->
           <%- include('_comment'); -%>
        </div>
    </div>
     


</div>



