<div class="box">
    <div class="send-otp-box">
        <div class="box-header">
        <h4>Send Otp</h4>
        </div>

        <div class="box-body">
            <center>
                <form method="post" action="/users/send-otp-to-mail/">
                    <input type="email" name="email"  class="form-control email-field" placeholder="Enter email" required><br>
                    <button type="submit" class="btn btn-sm btn-info" id="sendBtn">Send</button>
                </form>
            </center>
        </div>
    </div>
</div>



