<link rel="stylesheet" href="/css/user_profile.css">


<div class="card">
    <div class="card-header">
        <h4>Profile</h4>
    </div>

    <div class="card-body">
        <p>User Name - <span><%= user.name %></span></p>
        <p>User Email- <span><%= user.email %></span></p>
    </div>

</div>


