<h1>Sign In</h1>

<form method="get" action="/users/create-session">
   
    <input type="email" name="email" placeholder="Enter Email" required>
    <input type="password" name="password" placeholder="Enter Password" required>
    <input type="submit" value="Sign in">
</form>