.page-footer{
   background-color: #87a3a3;

    .flex-center{
        background-color: black;
        height: 3rem;
        border-bottom-left-radius: 11px;
        border-bottom-right-radius: 10px;

            a{
                    color: white;
                    text-decoration: none;
                    padding-left: 10px;
                    font-size: 17px;
            }
            
    }

    .footer-copyright {
        a{
            color: #ffffff;
            text-decoration: none;

        }

       
        
    }
}