body{
    margin: 0;
   
    #layout-main{
        height:100%;

        .box{
            width: 40%;
            background-color: #979494a1;
            height: auto;
            margin: 13px;

            .box-header{
                background-color: #195285;
                color: white;
                padding: 10px;
            }
            
            .box-body{
                padding: 11px;

                input{
                    margin-left: auto;
                    margin-top: 0.8rem;
                    margin-right: auto;
                    width: 80%;
                }

                button{
                    width: 40%;
                    margin-left: 9rem;
                    margin-top: 1rem;
                    border-radius: 30px;
                    padding: 10px;
                }
            }
        }

        .card{
           
            
            .card-header{
                background-color: #835063;
                color: white;
            }

            .card-body{
                height: auto;
                button{
                    float: right;
                    margin-top: 11px;
                }
                
            }
        }

        table{
            width: 100%;
          

            i{
                color: red;
                float: right;
            }

            li{
                padding: 7px;

                #cross-sign{
                    float: right;
                    padding-right: 9px;
                    color: red;
                    font-weight: 700;
                }
            }

         }
         

         .friend-list{
            margin-top: 3px;
            border: 1px solid lightgrey;

            h5{
                background-color: #835063;
                color: white;
                height: 3rem;
                padding: 10px;
            }

            td{
                padding: 10px;

                a{
                    color: blue;
                    text-decoration: none;
                    font-size: 15px;
                    font-weight: 400;
    
                    i{
                        float: left;
                        padding: 3px;
                        color: #403f70;
                    }
                }
    
                a:hover{
                    color: cd2121;
                }
            }
            
         }

    }
}