body {
  margin: 0; }
  body #layout-main {
    height: 100%; }
    body #layout-main #home-container {
      width: 98%; }
    body #layout-main .box {
      width: 40%;
      background-color: #979494a1;
      height: auto;
      margin: 13px; }
      body #layout-main .box .box-header {
        background-color: #195285;
        color: white;
        padding: 10px; }
      body #layout-main .box .box-body {
        padding: 11px; }
        body #layout-main .box .box-body input {
          margin-left: auto;
          margin-top: 0.8rem;
          margin-right: auto;
          width: 80%; }
        body #layout-main .box .box-body .hr-style {
          width: 76%;
          border: 3px solid #363131;
          border-radius: 41px; }
        body #layout-main .box .box-body button {
          width: 40%;
          margin-top: 1rem;
          border-radius: 30px;
          padding: 10px; }
          body #layout-main .box .box-body button a {
            color: white; }
          body #layout-main .box .box-body button a:hover {
            text-decoration: none; }
    body #layout-main .card {
      margin: 1rem; }
      body #layout-main .card .card-header {
        background-color: #835063;
        color: white; }
      body #layout-main .card .card-body {
        height: auto; }
        body #layout-main .card .card-body button {
          float: right;
          margin-top: 11px; }
        body #layout-main .card .card-body #like-block {
          float: right; }
          body #layout-main .card .card-body #like-block i {
            color: blue;
            font-size: 25px; }
    body #layout-main #user-friends {
      width: 108%; }
      body #layout-main #user-friends a {
        color: blue;
        text-decoration: none;
        font-size: 15px;
        font-weight: 400; }
        body #layout-main #user-friends a i {
          float: left;
          padding: 3px;
          color: #403f70; }
        body #layout-main #user-friends a .deleteIocn {
          float: right;
          color: #d75e5e;
          font-size: 20px; }
      body #layout-main #user-friends a:hover {
        color: cd2121;
        text-decoration: none; }
    body #layout-main #posts-list-container {
      margin-left: -1.1rem;
      margin-right: 7px; }
      body #layout-main #posts-list-container ul {
        list-style: none; }
        body #layout-main #posts-list-container ul li {
          background-color: #fff8f8;
          border: 1px solid #784a4a;
          padding: 1rem;
          border-radius: 10px;
          margin: 3px; }
          body #layout-main #posts-list-container ul li small {
            float: right; }
            body #layout-main #posts-list-container ul li small a {
              text-decoration: none;
              color: red;
              font-size: 20px;
              font-weight: 600; }
            body #layout-main #posts-list-container ul li small .toggle-like-button {
              color: blue;
              font-size: 15px; }
          body #layout-main #posts-list-container ul li .post-like {
            float: left;
            padding-top: 5px; }
          body #layout-main #posts-list-container ul li #comment-like-block {
            margin-top: 4px; }
            body #layout-main #posts-list-container ul li #comment-like-block i {
              color: blue;
              font-size: 25px; }
          body #layout-main #posts-list-container ul li .user-name {
            margin-right: -5px;
            padding-top: 7px; }
          body #layout-main #posts-list-container ul li .comment-list {
            border: none;
            border-bottom: 1px solid black; }
          body #layout-main #posts-list-container ul li .post-comments-list ul {
            list-style: none; }
            body #layout-main #posts-list-container ul li .post-comments-list ul li {
              border: none; }
              body #layout-main #posts-list-container ul li .post-comments-list ul li .comment-like {
                float: left;
                padding-top: 5px; }
      body #layout-main #posts-list-container .comment-style {
        border-left: 2px solid rebeccapurple; }
