.card {
  width: 30%;
  height: auto;
  margin-left: 10px;
  margin-top: 10px;
  border-top-right-radius: 27px;
  border-top-left-radius: 27px; }
  .card .card-header {
    background-color: #4d8f82;
    color: white;
    border-top-right-radius: 27px;
    border-top-left-radius: 27px;
    text-align: center; }
  .card .card-body {
    color: #455789;
    font-size: 17px;
    font-weight: 700; }
    .card .card-body span {
      font-size: 15px;
      color: brown; }
      .card .card-body span .add-friend-btn {
        margin: 0px !important; }
        .card .card-body span .add-friend-btn a {
          color: white;
          text-decoration: none; }
      .card .card-body span .remove-friend-btn {
        margin: 0px !important; }
        .card .card-body span .remove-friend-btn a {
          color: white;
          text-decoration: none; }
