body {
  margin: 0; }
  body #layout-main {
    height: 100%; }
    body #layout-main .box {
      width: 40%;
      background-color: #979494a1;
      height: auto;
      margin: 13px; }
      body #layout-main .box .box-header {
        background-color: #195285;
        color: white;
        padding: 10px; }
      body #layout-main .box .box-body {
        padding: 11px; }
        body #layout-main .box .box-body input {
          margin-left: auto;
          margin-top: 0.8rem;
          margin-right: auto;
          width: 80%; }
        body #layout-main .box .box-body button {
          width: 40%;
          margin-left: 9rem;
          margin-top: 1rem;
          border-radius: 30px;
          padding: 10px; }
    body #layout-main .card .card-header {
      background-color: #835063;
      color: white; }
    body #layout-main .card .card-body {
      height: auto; }
      body #layout-main .card .card-body button {
        float: right;
        margin-top: 11px; }
    body #layout-main table {
      width: 100%; }
      body #layout-main table i {
        color: red;
        float: right; }
      body #layout-main table li {
        padding: 7px; }
        body #layout-main table li #cross-sign {
          float: right;
          padding-right: 9px;
          color: red;
          font-weight: 700; }
    body #layout-main .friend-list {
      margin-top: 3px;
      border: 1px solid lightgrey; }
      body #layout-main .friend-list h5 {
        background-color: #835063;
        color: white;
        height: 3rem;
        padding: 10px; }
      body #layout-main .friend-list td {
        padding: 10px; }
        body #layout-main .friend-list td a {
          color: blue;
          text-decoration: none;
          font-size: 15px;
          font-weight: 400; }
          body #layout-main .friend-list td a i {
            float: left;
            padding: 3px;
            color: #403f70; }
        body #layout-main .friend-list td a:hover {
          color: cd2121; }
